
.DS_Store

ParallaxUINavigatorController/ParallaxUINavigatorController.xcodeproj/project.xcworkspace/contents.xcworkspacedata

ParallaxUINavigatorController/ParallaxUINavigatorController.xcodeproj/xcuserdata/emitryas.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist

ParallaxUINavigatorController/ParallaxUINavigatorController.xcodeproj/xcuserdata/emitryas.xcuserdatad/xcschemes/ParallaxUINavigatorController.xcscheme

ParallaxUINavigatorController/ParallaxUINavigatorController.xcodeproj/xcuserdata/emitryas.xcuserdatad/xcschemes/xcschememanagement.plist
